.container-form{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 100px;
}

.body-container{
  min-height: 100vh;
  width: 100vw;
  background: linear-gradient(135deg, #2a4155 0%, #2291ff 50%, #4364c7 75%, #000080 100%);
}

h1{
  color: rgb(255, 255, 255);
  font-size: 32px;
  text-align: center;
}

form{
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 30px;
  border-radius: 10px;
  background-color: #50449e7a;
  max-width: 50%;
  width: 400px;
  margin-bottom: 20px;

}

.button-cad{
    border-radius: 30px;
    background-color: rgba(37, 37, 126, 0.663);
    height: 40px;
    border: none;
    font-weight: bold;
    cursor: pointer;
    color: aliceblue;
    font-size: 18px;
  }

button:hover{
    opacity: 0.8; 
}

input{
  border: 1px solid #000080;
  border-radius: 30px;
  height: 40px;
  background-color:  #00008036;
  color: rgb(255, 255, 255);
  font-size: 16px;
  padding-left: 10px;
  outline: none;
}
input::placeholder{
  color: rgb(255, 255, 255);
}

.card{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #3b2f877a;
  margin: 10px;
  padding: 10px;
  border-radius: 10px;
  width: 400px;
}

p{
  color: rgb(201, 187, 187);
  
}

#delet{
 background-color: transparent;
  border: none;
  cursor: pointer;
}

#delet:hover{
  opacity: 0.5;
}
#delet img{
  width: 30px;
}
