/* CSS dedicado à página principal, main.html */

/* Resetando margens, preenchimentos e definindo box-sizing para todos os elementos */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilização da navegação principal */
nav {
    background-color: rgba(255, 0, 0, 0.432); /* Cor de fundo translúcida */
    width: 100%;
    padding: 0 30px;
    margin-bottom: 10px;
    display: flex; /* Layout em linha para conteúdo dentro da nav */
    align-items: center; /* Alinhamento vertical */
    justify-content: space-between; /* Espaço entre a logo e os links */
}

/* Estilização da logo usando a tag <figure> */
figure.logo > img {
    width: 170px;
    margin-left: 40px;
}

/* Estilização da lista de navegação */
nav ul {
    list-style: none; /* Remove marcadores */
}

/* Itens da lista dispostos em linha */
nav ul li {
    display: inline-block;
}

/* Estilização dos links */
nav ul li a {
    padding: 10px 10px;
    text-decoration: none;
    font-size: 19px;
    transition: 0.7s; /* Transição suave */
    border-radius: 30px;
}

/* Efeito ao passar o mouse nos links */
nav ul li a:hover {
    background-color: rgba(38, 6, 68, 0.372);
    color: azure;
}

/* Limites de largura para todas as imagens */
img {
    max-width: 579px;
    min-width: 120px;
}

/* Estilização de uma seção de imagem principal (caso seja usada no futuro) */
section#img {
    text-align: center;
    background-color: rgb(169, 132, 203);
    border-radius: 30px;
    margin: 0 40px;
}

/* Estilização do rodapé */
footer {
    margin-top: 20px;
    color: aliceblue;
    text-align: center;
    background-color: rgb(169, 132, 203);
    border-top: 40px solid transparent;
    width: 100%;
}