*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Bebas Neue", sans-serif;

}

body{
  min-height: 100vh;
  width: 100vw;
  background: linear-gradient(135deg, #1b354b 0%, #2291ff 50%, #4364c7 75%, #000080 100%);
}