*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Bebas Neue", sans-serif;

}

body{
  min-height: 100vh;
  width: 100vw;
  background: linear-gradient(135deg, #4682B4 0%, #1E90FF 50%, #4169E1 75%, #000080 100%);
}